name: Lint
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: oven-sh/setup-bun@v2

      - uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('bun.lock') }}

      - id: install
        run: bun install

      - name: Lint
        if: always() && steps.install.outcome == 'success'
        run: bun lint

      - name: Typecheck
        if: always() && steps.install.outcome == 'success'
        run: bun typecheck
